* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.countdown-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    color: #00ccff;
    margin-bottom: 10px;
}

#countdown {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.time-section {
    text-align: center;
    font-size: 2rem;
}

.time-section span {
    font-size: 3rem;
    font-weight: bold;
    color: #00ccff;
}

.time-section p {
    margin-top: 5px;
}

p {
    font-size: 1.2rem;
}
