* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.countdown-container {
    text-align: center;
    background-color: #444c56;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #61dafb;
}

#countdown {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.time-section {
    text-align: center;
    font-size: 2rem;
}

.time-section p {
    margin-top: 5px;
    font-size: 1.2rem;
}

#days, #hours, #minutes, #seconds {
    font-size: 3rem;
    font-weight: bold;
    color: #61dafb;
}
